
    
    :root {
        --darkorange: #E28525;
        --blue: #316A72;
        --darkblue: #1C413F;
    }
    
    body {
        display: flex;
        font-family: Poppins;
        color: white;
        flex-direction: column;
    }
    
    h1 {
        margin: 0px;
        text-transform: uppercase;
    }
    
    div {
        padding: 10px;
    }
    
    .sedans {
        background-color: var(--darkorange);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
    .suvs {
        background-color: var(--blue);
    }
    
    .luxury {
        background-color: var(--darkblue);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    button {
        display: block;
        font-family: Poppins;
        border-radius: 10px;
        margin-top: 5px;
        padding: 2px 5px;
        border: none;
    }

    .sedans button {
        color: var(--darkorange);
    }

    .suvs button {
        color: var(--blue);
    }

    .luxury button {
        color: var(--darkblue);
    }

    

@media screen and (min-width: 600px) {
    body {
        flex-direction: row;
    }

    .sedans {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0px;
    }

    .luxury {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 0px;
    }
}

